{% load static %}
<html>
<head>
<title>Missing Child App</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["username"].value;
	var y=document.forms["f1"]["password"].value;
	
	if(x == null || x==""){
		window.alert("Username must be enter");
		document.f1.username.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Password must be enter");
		document.f1.password.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="6" color="yellow">Missing Child Identification and Adoption</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <h6><li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Login' %}">Official Login</a></li>
<li><a href="{% url 'Upload' %}">Upload Suspected Child</a></li>
      <li><a href="{% url 'WelfareLogin' %}">Welfare Login</a></li>
	  <li><a href="{% url 'ParentLogin' %}">Parents Login</a></li>
	  <li><a href="{% url 'ParentRegister' %}">Parents Register</a></li>	
	  <li><a href="{% url 'AdoptionRules' %}">Adoption Rules</a></li>	
		</h6></center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<center><img class="pic" src="https://us.123rf.com/450wm/juliarstudio/juliarstudio1809/juliarstudio180903145/107437281-policeman-flat-icon-on-a-red-background.jpg?ver=6" width="370" height="230" alt="" /></center>
	</div>	
			<center>
<form name="f1" method="post" action={% url 'OfficialLogin' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Official Login Screen</b></h3>
   
	<font size="" color="black"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			 <tr><td><b>Username</b></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30"/></td></tr>
         
		  
		<tr><td><b>Password</b></td><td><input type="password" name="t2" style="font-family: Comic Sans MS" size="30"/></td></tr>

		
		 
			<tr><td></td><td><input type="submit" value="Login">
			</td>
			</table>
				</div>	
					
				</div>
				<br/><br/><br/><br/><br/><br/>
				
	</body>
</html>